<header>
  <nav class="flex items-center justify-between p-6">
    <ng-icon name="lucideAudioWaveform" size="2rem" class="text-neutral-900" />
    <button class="flex md:hidden">
      <ng-icon name="lucideMenu" size="2rem" class="text-neutral-900" />
    </button>
    <div class="hidden gap-12 md:flex">
      <a routerLink="home">Home</a>
      <a routerLink="features">Features</a>
      <a routerLink="self-host">Self Host</a>
    </div>
    <a class="hidden items-center gap-0.5 md:flex"> Log In <ng-icon name="lucideArrowRight" size="1rem" /> </a>
  </nav>
</header>
